$main-text-color: #293340;
$sec-text-color: #9195A0;
$title-color: #6D7278;
$heading-text-color: #222A41;
$light-blue: #5F9FFE;
$dark-blue: #2667C9;

.background-light-blue {
  background-color: $light-blue;
}

.background-dark-blue {
  background-color: $dark-blue;
}

.color-dark-blue {
  color: $dark-blue;
}

.color-light-blue {
  color: $light-blue;
}