.hero__container {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
}

.hero__left {
  display: flex;
  max-width: 540px;
  margin: 90px 0;
  margin-right: auto;
  flex-direction: column;
  align-items: start;
}

.hero__title {
  font-family: "Oswald";
  font-weight: normal;
  color: $title-color;
  font-size: 36px;
  padding: 0;
  margin: 0;
}

.hero__heading {
  font-family: "Oswald";
  font-weight: normal;
  color: $heading-text-color;
  font-size: 70px;
  margin: 0;
  padding: 0;
}

.hero__text {
  font-size: 18px;
  color: $sec-text-color;
  margin-bottom: 80px;
}

.hero__button {
  position: relative;
  padding: 15px;
  background-color: $light-blue;
  font-size: 18px;
  color: #fff;
  text-decoration: none;
  text-transform: uppercase;
  transition: all 400ms ease-in-out;
  &::after {
    position: absolute;
    display: inline-block;
    content: "";
    width: 57px;
    background-color: $dark-blue;
    height: 100%;
    top: 0;
    right: -10px;
    background-image: url(../img/icons/right-arrow-white.svg);
    background-position: center center;
    background-size: 35px;
    background-repeat: no-repeat;
    transition: all 400ms ease;
    z-index: -1;
  }
  &:hover::after {
    width: 50%;
    background-position: center center;
    background-size: 35px;
    top: 0;
    right: -57px;
    // z-index: 0;
  }
}

.hero__right {  
  display: inline-block;
  height: 510px;
  width: 510px;
  margin: auto;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column-reverse;
  background-image: url(../img/hero-img.png);
  background-size: 90%;
  background-repeat: no-repeat;
  background-position: center center;
}

@include breakpoint-down(1080px) {
  .hero__left {
    max-width: 440px;
  }
  .hero__heading {
    font-size: 55px;
  }

  .hero__text {
    font-size: 16px;
    line-height: 1.5;
  }
  .hero__right {
    width: 450px;
    height: 450px;
  }
}
@include breakpoint-down(920px) {
  .hero__container {
    flex-direction: column-reverse;
    align-items: center;
    justify-content: center;
  }
  .hero__left {
    margin-right: auto;
    margin-left: auto;
    text-align: center;
    align-items: center;
    margin-top: 20px;
  }
}